.box1 {
  background-color: aqua;
  width: 600px;
  height: 600px;
}
.box1 .box2 {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
}
.box1 .box3 {
  height: 200px;
  width: 200px;
  background-color: blue;
}
.box1 .box3 .box4 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
